html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 123, 46);
  display: flex;
  justify-content: center;
  align-items: center;
}
#quiz {
  background-color: honeydew;
  width: 30rem;
  padding: 4rem;
  text-align: center;
  height: 80vh;
  margin-top: 0;
}
h1 {
  color: gray;
  font-size: 3rem;
  text-align: center;
  padding: 2px 0;
  margin: 0;
}
#question {
  font-size: 1.7rem;
  color: grey;
}

.button {
  background-color: #34a3a3;
  color: white;
  width: 500px;
  font-size: 20px;
  border-radius: 0.3rem;
  padding: 10px 5px;
  margin: 1px 10px;
  outline: 0;
}
.button:hover {
  cursor: pointer;
  background: #57636e;
}
#progress {
  font-size: 20px;
}

#score {
  display: flex;
  color: orange;
  text-align: right;
}
#choices {
  display: block;
  align-items: center;
}
/* footer {
  display: block;
  position: relative;
  left: 0;
  bottom: 0px;
  z-index: 99;
  border: 0;
}
 */
